@page
@model PetWorldWeb.Pages.Orders.ListModel
@using PetWorldWeb.Models
@{

}
<style>
    th, td {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col d-flex justify-content-center">
        <table>
            <tr>
                <th style="width: 100px;">Order Id</th>
                <th style="width: 200px;">Order Date</th>
                <th style="width: 200px;">Shipped Date</th>
                <th style="width: 50px;">Status</th>
                <th style="width: 100px;"></th>
            </tr>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.OrderDate</td>
                    <td>@item.ShippedDate</td>
                    <td>@Constants.OrderStatus[item.Status]</td>
                    <td><a asp-page="/Orders/Details" asp-route-orderid="@item.OrderId">Detail</a></td>
                </tr>
            }
        </table>
    </div>
</div>